<div>

        <md-toolbar layout="row" style="padding-left: 10px;">
<p class="md-headline">Material Todo App</p>

    <span flex></span>
<div style="text-align: center;padding-top: 20px">
    <md-button ui-sref="login" style="font-weight: bold;font-size: 17px" class="md-padding md-raised">Sign in</md-button>
    <md-button ui-sref="signup" style="font-weight: bold;font-size: 17px" class="md-padding">Sign up</md-button>
</div>
        </md-toolbar>
    <div  style="padding: 10px">
        <h1 style="font-family: serif;text-align: center">Login</h1>

        <form name="login" ng-submit="app.loginUser(app.email,app.pass)" layout-align="center center" layout="column">
            <h3 id="error" style="color: red;"></h3>
        <md-input-container>
            <label>Email</label>
            <input type="email" name="email" ng-model="app.email" required>
        </md-input-container> <br>
            <md-input-container>
                <label>Password</label>
                <input type="password" name="pass" ng-model="app.pass" required>
            </md-input-container>

        <button type="submit" ng-disabled="login.$invalid" class="md-button md-raised md-primary">
            Login
            </button>
            <md-progress-circular md-mode="indeterminate" class="md-hue-3" ng-show="app.loader"></md-progress-circular>

        </form>
    </div>
</div>
